<h1>Buscando al Personaje.. <small>{{ termino | uppercase }}</small> </h1>
<hr>

<div class="row animated fadeIn fast" *ngIf="personajes.length == 0">
    <div class="col-md-12">
        <div class="alert alert-info" role="alert">
            No existen resultados con el termino: {{ termino | uppercase }}
        </div>
    </div>
</div>

<div class="contenedor">
    <div class="row">
        <app-personaje-tarjeta class="col-lg-3 col-md-4 col-sm-6" (personajeSeleccionado)="verPersonaje( $event )" [personaje]="personaje" [index]="personaje.idx" *ngFor="let personaje of personajes;">

        </app-personaje-tarjeta>
    </div>
</div>