<div class="building-block-aspect">
    <div class="building-block-padding">
        <div class="building-block-wrapper">
            <div class="image-wrapper">
                <div class="aspect">
                    <img src={{pelicula.foto}} class="thumb reserved-ratio">
                </div>
            </div>
            <div class="content-wrapper">
                <div class="bedazzlement"></div>
                <div class="content-bumper">
                    <div class="content-info">
                        <h3 class="title">
                            <a [routerLink]="['/pelicula',index]"> <span class="long-title">{{pelicula.titulo}}</span> </a>
                        </h3>
                        <div class="desc-sizer">
                            <p class="desc">{{pelicula.descripcion}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>