#navbar {
    height: 200px;
    border-bottom: none;
    background-color: #161616;
    transition: margin-top 350ms;
}

#nav-wrapper {
    max-width: 1400px;
    max-height: 300px;
    margin: 0 auto;
    padding: 1.5%;
    box-sizing: border-box;
    position: relative;
    height: inherit;
}

#nav-header-bg {
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    width: 1600px;
    height: 100%;
    z-index: -1;
    background-position: center;
    background-image: url(https://lumiere-a.akamaihd.net/v1/images/open-uri20150610-21458-1rpiklg_4398f3ba.jpeg?region=0%2C0%2C1600%2C296);
    background-size: cover;
    transform: translateX(-50%);
    transition: background-image 800ms;
}

#nav-sw-logo-bar {
    position: fixed;
    width: 0;
    height: 0;
    opacity: 0;
    -webkit-transition: opacity 550ms;
    -moz-transition: opacity 550ms;
    transition: opacity 550ms;
    max-width: 350px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    background-size: 100%;
    display: inline-block;
    vertical-align: middle;
}

#nav-sw-logo {
    display: block;
    top: 50%;
    width: 100%;
    max-width: 500px;
    height: 100%;
    max-height: 140px;
    margin: -65px auto 0;
    box-sizing: border-box;
    background-image: url(/assets/images/logo.png);
    background-size: contain;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
}

#nav-content {
    left: 0;
    width: 100%;
    height: auto;
    min-height: 60px;
    padding: 0;
    overflow: visible;
    visibility: visible;
    opacity: 1;
    background-color: #222;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    transition: border-width 200ms;
    transform: translate3d(0, 0, 0);
    z-index: -1;
    box-sizing: border-box;
    display: block;
}

#section-links {
    display: table;
    table-layout: fixed;
    left: 0;
    width: 100%;
    max-width: 1200px;
    position: relative;
    margin: 0 auto;
}

ul {
    color: #aaa;
    list-style: none;
    padding: 0;
}

li {
    display: table-cell;
    width: auto;
    margin: 0;
    vertical-align: top;
    border-left: 1px solid #333;
    box-sizing: border-box;
    transition: background-color 300ms;
}

li a {
    display: block;
    position: relative;
    padding: 0 4px 4px;
    min-height: 60px;
    padding-top: 15px;
    text-decoration: none;
}

li a p {
    width: 100%;
    margin: -2px 0 4px;
    text-align: center;
    display: block;
    color: #eaeaea;
    padding: 0;
    font-size: 20px;
}