<span id="navbar">
    <div id="nav-wrapper">
        <div id="nav-header-bg"></div>
        <a id="nav-sw-logo-bar" routerLink="/body" itemprop="logo" data-cto="swlogo"></a>
        <a id="nav-sw-logo" routerLink="/body" itemprop="logo" data-cto="swlogo"></a>
    </div>
</span>
<nav id="nav-content">
    <ul id="section-links" itemscope itemtype="https://www.schema.org/SiteNavigationElement">
        <li>
            <a class="section-link" routerLink="/body" routerLinkActive="active">
                <p>Home</p>
            </a>
        </li>
        <li>
            <a class="section-link" routerLink="/peliculas" routerLinkActive="active">
                <p>Peliculas</p>
            </a>
        </li>
        <li>
            <a class="section-link" routerLink="/personajes" routerLinkActive="active">
                <p>Personajes</p>
            </a>
        </li>
        <li>
            <a class="section-link" routerLink="/body" routerLinkActive="active">
                <p>Contacto</p>
            </a>
        </li>
    </ul>
</nav>