<span id="navbar">
    <div id="nav-wrapper">
        <div id="nav-header-bg"></div>
        <a id="nav-sw-logo-bar" routerLink="/body" itemprop="logo" data-cto="swlogo"></a>
        <a id="nav-sw-logo" routerLink="/body" itemprop="logo" data-cto="swlogo"></a>
        <div id="nav-utility">
            <div id="nav-search-container">
                <div class="bedazzlement-container">
                    <span class="bedazzlement"></span>
</div>
<form id="topnav-search" class="nav-search top-nav" onsubmit="return false">
    <div class="query-field">
        <input id="nav-search-input" type="text" placeholder="Buscar Personaje" (keyup.enter)="buscarPersonaje(buscarTexto.value)" #buscarTexto>
        <span id="nav-search-icon" (click)="buscarPersonaje(buscarTexto.value)"></span>
    </div>
</form>

</div>
</div>
</div>
</span>

<nav id="nav-content">
    <ul id="section-links" itemscope itemtype="https://www.schema.org/SiteNavigationElement">
        <li>
            <a class="section-link" routerLink="/body" routerLinkActive="active">
                <p>Home</p>
            </a>
        </li>
        <li>
            <a class="section-link" routerLink="/peliculas" routerLinkActive="active">
                <p>Peliculas</p>
            </a>
        </li>
        <li>
            <a class="section-link" routerLink="/personajes" routerLinkActive="active">
                <p>Personajes</p>
            </a>
        </li>
        <li>
            <a class="section-link" routerLink="/acercaDe" routerLinkActive="active">
                <p>Acerca De</p>
            </a>
        </li>
    </ul>
</nav>