body {
    width: 100%;
}

#navbar {
    height: 200px;
    border-bottom: none;
    background-color: #161616;
    transition: margin-top 350ms;
}

#nav-wrapper {
    max-width: 1400px;
    max-height: 300px;
    margin: 0 auto;
    padding: 1.5%;
    box-sizing: border-box;
    position: relative;
    height: inherit;
}

#nav-header-bg {
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-position: center;
    background-image: url(https://lumiere-a.akamaihd.net/v1/images/open-uri20150610-21458-1rpiklg_4398f3ba.jpeg?region=0%2C0%2C1600%2C296);
    background-size: cover;
    transform: translateX(-50%);
    transition: background-image 800ms;
}

#nav-sw-logo-bar {
    position: fixed;
    width: 0;
    height: 0;
    opacity: 0;
    -webkit-transition: opacity 550ms;
    -moz-transition: opacity 550ms;
    transition: opacity 550ms;
    max-width: 350px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    background-size: 100%;
    display: inline-block;
    vertical-align: middle;
}

#nav-sw-logo {
    display: block;
    top: 50%;
    width: 100%;
    max-width: 500px;
    height: 100%;
    max-height: 140px;
    margin: -65px auto 0;
    box-sizing: border-box;
    background-image: url(/assets/images/logo.png);
    background-size: contain;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
}

#nav-content {
    left: 0;
    width: 100%;
    height: auto;
    min-height: 60px;
    padding: 0;
    overflow: visible;
    visibility: visible;
    opacity: 1;
    background-color: #222;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    transition: border-width 200ms;
    transform: translate3d(0, 0, 0);
    z-index: -1;
    box-sizing: border-box;
    display: block;
}

#section-links {
    display: table;
    table-layout: fixed;
    left: 0;
    width: 100%;
    max-width: 1200px;
    position: relative;
    margin: 0 auto;
}

ul {
    color: #aaa;
    list-style: none;
    padding: 0;
}

li {
    display: table-cell;
    width: auto;
    margin: 0;
    vertical-align: top;
    border-left: 1px solid #333;
    box-sizing: border-box;
    transition: background-color 300ms;
}

li a {
    display: block;
    position: relative;
    padding: 0 4px 4px;
    min-height: 60px;
    padding-top: 15px;
    text-decoration: none;
}

li a p {
    width: 100%;
    margin: -2px 0 4px;
    text-align: center;
    display: block;
    color: #eaeaea;
    padding: 0;
    font-size: 20px;
}

#nav-utility {
    width: auto;
    position: absolute;
    right: 0;
    padding: 1.5%;
    box-sizing: border-box;
}

#nav-search-container {
    display: inline-block;
    position: relative;
    width: 240px;
    margin: auto;
    opacity: 1;
    background: none;
    box-shadow: none;
    border: 0;
    min-width: 60px;
    display: inline-block;
    right: 0;
    text-align: left;
    height: 60px;
    cursor: pointer;
    top: 0;
}

.bedazzlement-container {
    height: 44px;
    opacity: 1;
    visibility: visible;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 0;
    box-shadow: inset -1px 1px 1px 0 rgba(0, 0, 0, 0.3);
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    background-color: #cacacabf;
    border-radius: 15px;
}

form {
    margin: 0;
    padding: 0;
}

#nav-search-container input {
    display: block;
    left: 4px;
    width: 80%;
    visibility: visible;
    height: 80%;
    background-color: transparent;
    position: absolute;
    top: 0;
    padding-left: 12px;
    color: #000;
    line-height: 1.5em;
    border: 0;
    box-sizing: border-box;
    font-family: DIN, Helvetica, Arial, sans-serif;
    font-weight: 600;
    font-size: 1em;
}

#nav-search-icon {
    position: absolute;
    top: -2px;
    right: -2px;
    width: 50px;
    height: 50px;
    background-position: 100% 0;
    background-image: url(https://static-mh.content.disney.io/starwars/assets/navigation/search_icon@2x-94cffb8a3976.png);
    display: block;
    background-repeat: no-repeat;
    background-size: 100%;
}

input:focus {
    outline: 0 none;
}