<div class="caja">
    <h1>Peliculas Formulario</h1>
    <form action="" method="POST">
        <div class="form-group">
            <div class="form-group col-md-6">
                <h5>Titulo</h5>
                <input type="text" class="form-control" name="Titulo" placeholder="Ingrese el título de la pelicula">
            </div>
            <div class="form-group col-md-6">
                <h5>Sinopsis</h5>
                <textarea type="text" class="form-control" name="Sinopsis" placeholder="Breve Sinopsis"></textarea>
            </div>
            <div class="form-group col-md-6">
                <h5>Url Foto</h5>
                <input type="text" class="form-control" name="Foto" placeholder="Ingrese url">
            </div>
            <br>
            <div class="form-group col-md-6">
                <button type="submit" class="btn btn-success btn-lg">Guardar datos</button>
            </div>
        </div>
    </form>

    <br><br><br><br>
    <button class="btn btn-outline-primary" routerLink="/peliculas" routerLinkActive="active">Formato Tabla</button>

</div>