<h1>Peliculas Tabla</h1>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>Titulo</th>
            <th>Sinopsis</th>
            <th>Foto</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td scope="row"></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td scope="row"></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>

<button class="btn btn-secondary" routerLink="/peliculas2" routerLinkActive="active">Peliculas 1</button>